<h1>Add a City</h1>

<form action="/cities" method="post">
  <input id="cityId" name="cityId" type="hidden" value="$city.getId()">

  <div class="form-group">
    <label for="name">City Name</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <a class="btn btn-danger" href="/cities">Back</a>
  <button type="submit" class="btn btn-success">Add City</button>

</form>
