<h1>Add a City</h1>

<p>
  Add a city here:
</p>

<form action="/cities" method="post">
  <label for="name">City Name</label>
  <input type="text" name="name" id="name">
  <button type="submit" class="btn btn-success">Add City</button>
</form>
